<nav class="navbar navbar-light bg-light navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{baseUrl}}/assets/images/logo.svg" height="24">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if action == 'dashboard/index' %}active{% endif %}" aria-current="page" href="{{baseUrl}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if action == 'users/index' %}active{% endif %}" aria-current="page" href="{{baseUrl}}users">Users</a>
        </li>
      </ul>
      <a class="btn btn-outline-success" href="{{baseUrl}}/api/users/logout">Logout</a>
    </div>
  </div>
</nav>